.name {
    text-align: center;
    font-size: 15px;
    color: white;
    width: 100%;
}

.image {
    padding: 0 15px;
    margin-bottom: 2%
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin: 2%;
    border-style: none;
}

.card:hover {
    cursor: pointer;
}

.content {
    margin: -8% 0;
    margin-bottom: -15%;
    width: 100%;
}

.icons {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
