.mainDiv {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.divBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.loading {
  background-color: rgb(193, 187, 187);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.loading h1 {
  margin-bottom: 2%;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}